html, body {
    height: 100%;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
}

body {
    background-image: url("../images/thumb-1920-13531.jpg");
}

.container {
    background-color: rgb(223, 209, 91);
    margin-top: 100px;
    width: 70%;
}

#game {
    justify-content: center;
    min-height: 200px;
    padding: 20px;
}

.title {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 40px;
}

p {
    margin-bottom: 5px;
}

button:hover {
    box-shadow: 3px 3px 5px 6px rgba(46, 46, 28, 0.577);
}

.question {
    text-align: center;
    margin-bottom: 40px;
}

.buttonClass {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    height: 80px;
    width: 160px;
}