html, body {
    height: 100%;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
}

body {
    background-image: url("../images/thumb-1920-13531.jpg");
}

.container {
    background-color: rgb(223, 209, 91);
    margin-top: 100px;
    width: 70%;
}

#game {
    justify-content: center;
    min-height: 200px;
}

h1 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
}